body{
    margin:0px;
    height:100%;
    background-color: rgb(240, 240, 255);
}

.Header {
    display:flex;
    background-color: rgb(18, 18, 78);
    justify-content: space-between;
    width:100%;
}

.Header .left{
    font-size: 2em;
    margin-left: 2em;
}

.Header .right{
    display:inline-flex;
    justify-content: end;
    font-size: 1.5em;
    align-items: center;
}

.Header .right a{
    margin-right: 2em;
}

.Header a{
    color : white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}


.Content {
    display: flex;
    margin-top:5em;
    text-align: center;
}

#Interest-Header{
    text-align: center;
    font-size:3.5em;
    margin-left: 3em;
    margin-right : 3em;
    margin-top:5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Content img{
    width: 80%;
    height: 80%;
    margin: 1em;
    border: solid 1em rgb(6, 6, 141);
    border-radius: 15px;
}

.Footer{
    background-color: rgb(18, 18, 78);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1350px){
    #Interest-Header{
        font-size: 2em;
    }
}

@media screen and (max-width: 1200px){
    .Content{
        flex-direction: column;
        margin-top:3em;
    }
    .Content img{
        width: 60%;
    }
}