body{
    margin:0px;
    background-color: rgb(240, 240, 255);
    height: 100%;
}

.Header {
    display:flex;
    background-color: rgb(18, 18, 78);
    justify-content: space-between;
}

.Header .left{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 2em;
    margin-left: 2em;
}

.Header .right{
    display:flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.5em;
    align-items: center;
}

.Header .right a{
    margin-right: 2em;
}

.Header a{
    color : white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.Content {
    display: flex;
    margin-top:5em;
    text-align: center;
}

#Interest-Header{
    text-align: center;
    font-size:3.5em;
    margin-left: 3em;
    margin-right : 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Content img{
    width: 80%;
    height: 80%;
    margin: 1em;
    border: solid 1em rgb(6, 6, 141);
    border-radius: 15px;
}

.Footer{
    background-color: rgb(18, 18, 78);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}